{
    "@context": "http://schema.org",
    "@type": "Person",
    "address": {
        "@type": "PostalAddress",
        "addressRegion": "New York",
        "addressCountry": "USA"",
        "sameAs": ["https://en.wikipedia.org/wiki/New_York_City"]
    },
    "alumniOf": {
        "@type": "EducationalOrganization",
        "name": "Tsinghua University",
        "sameAs": ["https://en.wikipedia.org/wiki/Tsinghua_University", "https://www.tsinghua.edu.cn/en/"],
        "logo": "https://en.wikipedia.org/wiki/Tsinghua_University#/media/File:Tsinghua_University_Logo.svg",
        "address": {
            "@type": "PostalAddress",
            "addressRegion": "Beijing",
            "addressCountry": "China",
        }
    },
    "name": "Jiahui Jiang",
    "familyName": "Jiang",
    "givenName": "Jiahui",
    "jobTitle": "Software Engineer",
    "worksFor": {
        "@type": "Organization",
        "name": "Notion",
        "sameAs": ["https://notion.so"],
        "logo": "https://upload.wikimedia.org/wikipedia/commons/e/e9/Notion-logo.svg",
    },
    "image": "https://www.deviantart.com/froststarpics34/art/Grey-And-White-Siberian-Cat-Sitting-761252426",
    "url": "https://jiahuijiang.github.io/",
    "sameAs": ["https://www.linkedin.com/in/jiahui-j/", "https://github.com/jiahuijiang", "https://www.goodreads.com/user/show/71647700-jiahui-jiang"]
}
