<nav class="header-nav">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">
    {% if page.title and page.title != '' %}
      {{ site.name }}
    {% else %}
      <h1 class="header-logo">{{ site.name }}</h1>
    {% endif %}
  </a>
  <ul class="header-links">

    {% if false %}
      {%  unless page.url contains '/tags'  %}
        <li>
          <a class="header-icon-link" href="{{ 'tags' | relative_url }}" title="Tags">
            <i class="fas fa-hashtag" aria-hidden="true"></i>tags
          </a>
        </li>
      {% endunless %}
    {% endif %}

    <li>
      <a class="header-icon-link" href="{{ 'coding' | relative_url }}" title="Coding">
        <i class="fa fa-heart-o" aria-hidden="true"></i> Coding
      </a>
    </li>

    <li>
      <a class="header-icon-link" href="{{ 'baking' | relative_url }}" title="Baking">
        <i class="fa fa-lemon-o" aria-hidden="true"></i> Baking
      </a>
    </li>

    <li>
      <a class="header-icon-link" href="{{ 'crafts' | relative_url }}" title="Crafts">
        <i class="fa fa-heart-o" aria-hidden="true"></i> Crafts
      </a>
    </li>

    {% if site.about_enabled == true %}
      {%  unless page.url contains '/about'  %}
        <li>
          <a class="header-icon-link" href="{{ 'about' | relative_url }}" title="About me">
            <i class="fa fa-user" aria-hidden="true"></i> About
          </a>
        </li>
      {% endunless %}
    {% endif %}

    {% if site.about_enabled == true %}
      {%  unless page.url contains '/blogs'  %}
      <li>
        <a class="header-icon-link" href="{{ 'blogs' | relative_url }}" title="Blogs">
          <i class="fas fa-user" aria-hidden="true"></i> Blogs
        </a>
      </li>
      {% endunless %}
    {% endif %}

  </ul>
</nav>
