---
title: "Projects"
description: "Projects - arts, coding or crafts"
permalink: /projects
pagination:
  enabled: true
---

<div class="tags-page text-center">
  <h1 class="tags-page-header">
    <small><i class="fa fa-heart-o" aria-hidden="true"></i></small> <a class="no-text-decoration" href="{{ 'projects' | relative_url }}" title="Projects">Projects</a>
  </h1>

  {% assign column_tags = "coding, craft" | split: ", " %}
  <div class="tags-page-row">
    {% for tag in column_tags %}
      <div class="tags-page-column">
        <ul class="article-list">
          {% for post in paginator.posts %}
          {% if post.tags contains tag %}
          <li class="article-list-item">
            <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
              <h5 style="font-weight: bold">
                {{ post.title }}
              </h5>
              <p>
              <div class="input" snowfall-canvas-length=250 ></div>
              {% if post.thumbnail %}
              <img src="{{ post.thumbnail }}" alt="{{ post.title }}" height="250" style="display: inline">
              {% else if post.description %}
              {{ post.description }}
              {% else %}
              {{ post.excerpt }}
              {% endif %}
              </p>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <li class="article-pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | remove: 'index.html' }}"><i class="fas fa-angle-double-left" aria-hidden="true"></i> Newer posts</a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | remove: 'index.html' }}" class="article-pagination-right">Older posts <i class="fas fa-angle-double-right" aria-hidden="true"></i></a>
    {% endif %}
  </li>
  {% endif %}
</div>
