---
title: "Projects - Creative Coding"
description: "Projects - arts & coding"
permalink: /projects/creative-coding
pagination:
  enabled: true
---

<div class="tags-page text-center">
  <h1 class="tags-page-header">
    <small><i class="fa fa-heart-o" aria-hidden="true"></i></small> <a class="no-text-decoration" href="{{ 'projects' | relative_url }}" title="Projects">Projects</a>
  </h1>

  <ul class="article-list">
    {% for post in paginator.posts %}
      {% if post.tags contains 'coding' %}
      <li class="article-list-item">
        <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
          <h5 style="font-weight: bold">
            {{ post.title }}
          </h5>
          <p>
          <div class="input" snowfall-parentId="sketch-holder"  snowfall-canvas-length=200 snowfall-opacity=180></div>
          {% if post.description %}
          {{ post.description }}
          {% else %}
          {{ post.excerpt }}
          {% endif %}
          </p>
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <li class="article-pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | remove: 'index.html' }}"><i class="fas fa-angle-double-left" aria-hidden="true"></i> Newer posts</a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | remove: 'index.html' }}" class="article-pagination-right">Older posts <i class="fas fa-angle-double-right" aria-hidden="true"></i></a>
    {% endif %}
  </li>
  {% endif %}
</div>
