---
title: "Projects"
description: "Projects - arts, coding or crafts"
permalink: /projects
pagination:
  enabled: true
---

<div class="tags-page text-center">
  <h1 class="tags-page-header">
    <small><i class="fa fa-heart-o" aria-hidden="true"></i></small> Projects
  </h1>

  <ul class="article-list">
    {% for post in paginator.posts %}
    <li class="article-list-item">
      <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
        <h5>
          {{ post.title }}
          <small><i class="icon fas fa-angle-double-right" aria-hidden="true"></i></small>
        </h5>
        <p>
          {% if post.description %}
          {{ post.description }}
          {% else %}
          {{ post.thumbnail }}
          {% endif %}
        </p>
      </a>
    </li>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
    <li class="article-pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | remove: 'index.html' }}"><i class="fas fa-angle-double-left" aria-hidden="true"></i> Newer posts</a>
      {% endif %}
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | remove: 'index.html' }}" class="article-pagination-right">Older posts <i class="fas fa-angle-double-right" aria-hidden="true"></i></a>
      {% endif %}
    </li>
    {% endif %}
  </ul>
</div>
